header{
    height: 80px;
    width: 800px;
    background-color: #330000; 
}
aside{
    width: 170px;
    height: 400px;
    background: url(../image/bg_lt.png);
    float: left;
}
article{
    width: 628px;
    height: 400px;
    margin-left: 171px;
    background-color: beige;
}
footer{
    
}